doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=EDGE')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no')
    title #{title}
    meta(name='apple-mobile-web-app-title', content="#{title}")
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='theme-color', content='#000000')
    meta(name='robots', content='noindex')
    link(href='components/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='components/bootstrap/css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='app.css?_=#{built}', rel='stylesheet')
  body
    main
      nav#nav.navbar.navbar-inverse.navbar-fixed-top(ng-controller="MenuController as menu")
        .navbar-header
          button.navbar-toggle.collapsed(ng-click="menu.expandHamburger()")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#/", ng-class="{ active: activeTab === 'home' }") #{title}
        #navbar.navbar-collapse.collapse(ng-class="{ in : menu.hamburger }")
          user-menu
      #content(ui-view)
    script(src='components/jquery/jquery.min.js')
    script(src='components/moment/moment-with-locales.min.js')
    script(src='components/angular/angular.min.js')
    script(src='components/angular-ui-router/angular-ui-router.min.js')
    script(src='components/ngstorage/ngStorage.min.js')
    script(src='app.min.js?_=#{built}')
